@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
*{
   font-family: "Outfit", sans-serif;
   font-optical-sizing: auto;
   font-weight: 400;
   font-style: normal;
}




/*NavBar blanca al hacer scroll*/
.navbar {
    transition: background-color 0.3s ease-in-out;
  }
  
  .navbar.transparent {
    background-color: transparent !important;
  }
  
  .navbar.white {
    background-color: #fff !important;
  }

  /*NavBar links subrayado negro*/
  .navbar-nav .nav-link {
    transition: border-color 0.3s ease-in-out;
  }
  
  .navbar-nav .nav-link:hover {
    border-bottom: 2px solid black;
  }

/*Carrousel*/



.carousel-item img{
    object-fit: cover;
    height: 100%;
}

.carousel-img-size{
    height: 100vh;
}

.carousel-img-size {
   position: relative;
}

.carousel-caption {
   position: absolute;
   top: 40%;
}

/*Cards clientes*/
.card{
   height: 22rem;
}
.card-body{
   display: flex;
   flex-direction: column;
   justify-content: flex-start;
   align-items: center;
}
.row{
   align-items: center;
   justify-content: center;
}
.img-comentario{
   width: 5rem;
   height: 5rem;
   border-radius: 100%;
}

/*TimeLine*/
 h1 {
    text-align: center;
    font-weight: 300;
    color: #777
 }
 
 h1 span {
    font-weight: 600;
 }
 
 .container {
    width: 80%;
    padding: 50px 0;

    position: relative;
    overflow: hidden;
 }
 
 .timeline-block {
    width: -webkit-calc(50% + 8px);
    width: -moz-calc(50% + 8px);
    width: calc(50% + 8px);
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -moz-box-pack: justify;
    justify-content: space-between;
    clear: both;
 }
 
 .timeline-block-right {
    float: right;
 }
 
 .timeline-block-left {
    float: left;
    direction: rtl
 }
 
 .marker {
    width: 16px;
    height: 16px;
    border-radius: 50%;
    border: 2px solid #F5F7FA;
    background: rgba(191, 14, 13, 1);
    margin-top: 10px;
    z-index: 9999
 }
 
 .timeline-content {
    width: 95%;
    padding: 0 15px;
    color: rgba(191, 14, 13, 1)
 }
 
 .timeline-content h3 {
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 30px;
    font-weight: 500
 }
 
 .timeline-content span {
    font-size: 15px;
    color: #111010;
 }
 
 .timeline-content p {
    font-size: 20px;
    line-height: 1.5em;
    word-spacing: 1px;
    color: #000000;
 }
 
 
 @media screen and (max-width: 768px) {
    .container:before {
       left: 8px;
       width: 2px;
    }
    .timeline-block {
       width: 100%;
       margin-bottom: 30px;
    }
    .timeline-block-right {
       float: none;
    }
 
    .timeline-block-left {
       float: none;
       direction: ltr;
    }
 }
 