
.quienes-somos-info{
    padding: 4vw 0 !important;
    background: rgb(240,240,240);
    background: linear-gradient(0deg, rgba(240,240,240,1) 0%, rgba(255,252,252,1) 5%);
}
.quienes-somos-info p{
    font-size: 1.4vw;
    padding: 1vw 10vw !important;
}
@media (max-width: 768px) {
   
    .quienes-somos-info{
        background-color: white;
    }
    .quienes-somos-info p{
        padding: 1vw !important;
        font-size: 4vw;
    }
}


.lemas-container{
    width: 100%;
    padding: 0vw 0;
    display: flex;
    height: 47vw;
    justify-content: center;
    background-color: #ffffff;
    opacity: 0.8;
    background: linear-gradient(135deg, #d5d5d555 25%, transparent 25%) -14px 0/ 28px 28px, linear-gradient(225deg, #d5d5d5 25%, transparent 25%) -14px 0/ 28px 28px, linear-gradient(315deg, #d5d5d555 25%, transparent 25%) 0px 0/ 28px 28px, linear-gradient(45deg, #d5d5d5 25%, #ffffff 25%) 0px 0/ 28px 28px;
}

.lema{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1.8vw 1.5vw !important;
    margin: 1vw 1vw;
    border-radius: 25% 5% 5% 5%;
    width: 18%;
    max-height: 47%;
    box-shadow: 2px 2px 10px grey;
    transition: border-radius 0.8s ease, box-shadow 0.8s ease, transform 3s ease-out;
}
.lema-up.move-up {
    transform: translateY(24vh);
  }

  .lema-down.move-down {
    transform: translateY(24vh);
  }
.lema:hover {
    border-radius: 5% 5% 25% 5%;
    box-shadow: 5px 5px 10px black;
}
.lema h5{
    color: white;
    font-size: 1.8vw;
    text-shadow: 3px 3px 5px black;
}
.lema p{
    color: white;
    font-size: 1vw;
    text-shadow: 3px 3px 5px black;
    
}
.lema-down{

    background-color: #bf0d0d;
}
.lema-up{
    background-color: #62676bb5;
    transform: translateY(4vw);
}
@media (max-width: 768px) {
    .lemas-container{
        height: auto;
        padding: 5vw 0;
    }
    .lema h5{
        font-size: 5vw;
    }
    .lema p{
        font-size: 4vw;
    }
    .lema{
        width: 70vw;
        height: 80vw;
        transform: none;
        padding: 1vw 3vw !important;
        margin: 4vw 0;
    }
    .lema-up.move-up {
        transform: translateX(4vh);
      }
    
      .lema-down.move-down {
        transform: translateX(4vh);
      }

    .lema-down{
        transform: translateX(-4vw);
        background-color: #bf0d0d;
        border-radius: 5% 25% 5% 5%;
    }
    .lema-up{
        background-color: #62676bb5;
        transform: translateX(-4vw);
    }
}
/* nuestro equipo */
.nuestroequipotitulo{
    font-size: 3vw;
    text-align: center;
    margin: 5vw 10vw;
}
.nuestroequipo-container-mobile{
    display: none;
    margin-bottom: 30vw;
}
@media (max-width: 768px){
    .nuestroequipotitulo{
        font-size: 9vw;
    }
    .nuestroequipo-container-desktop{ 
            display: none;
    }
    .nuestroequipo-container-mobile{
        display: block;

    }
}
.nuestroequipo-container-desktop{
    padding: 4vw 10vw;
}
.col-md-4{
    width: auto !important;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex: 24% !important;
}
.card-title{
    font-size: 1.4vw !important;
}
.card-body{
    padding: 0.8vw !important;
}
.card{
    width: 18vw;
    margin: 2em;
}
.card-text{
    font-size: 1vw !important;
}
.card-img-top{
    height: 22vw;
    width: 100%;
    transition: opacity 0.3s; 
}
.img-container {
    position: relative;
}
.img-container:hover .hover-img {
    opacity: 1;
}
.hover-img {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    opacity: 0;
    transition: opacity 0.3s;
    height: 22vw;
}
.card-body h5{
    font-size: 1em;
    text-align: center;
}
.card-body p{
    font-size: 1em;
}

.carousel-item-left img{
    width: 80vw !important;
    max-width: 80vw !important;
}
.carousel-item img{
    width: 80vw !important;
    max-width: 80vw !important;
}
.carousel-item-next img{
    width: 80vw !important;
    max-width: 80vw !important;
    transform: translateX(2vw);
}

.carousel-caption h5{
    text-shadow: 3px 3px 15px rgb(255, 255, 255);
    color: rgb(0, 0, 0) !important;
    font-size: 4vw;
}

.carousel-caption p{
    text-shadow: 3px 3px 15px rgb(255, 255, 255);
    color: rgb(0, 0, 0) !important;
    font-size: 3vw;
}

/* lemas mobile */
.lemas-container-padre-mobile{
    display: none;
}
@media (max-width: 768px) {
    .lemas-container-padre-mobile{
        display: block;
    }
}
.lema-container-mobile {
    display: flex;
    flex-direction: column;
  }

  .lema-mobile {
    padding: 10px;
  }

  .lema-titulo-mobile {
    text-align: center;
    color: white;
    text-shadow: 2px 2px 8px black;
    font-size: 7vw;
  }

  .lema-p-mobile {
    max-height: 0;
    overflow: hidden;
    opacity: 0;
    transition: max-height 0.5s ease-out, opacity 0.5s ease-out;
    color: white;
    text-shadow: 2px 2px 8px black;
    text-align: center;
    font-size: 4vw;
  }
  .lema-p-mobile.active {
    max-height: 30vw; /* ajusta el valor según sea necesario */
    opacity: 1;
    transition: max-height 0.5s ease-in, opacity 0.5s ease-in;
}
  
.lema-color2{
    background-color: #3c3f42a7;
  }

.lema-color1{
    background-color: #bf0d0d;
}

.iconLema{
    display: block;
    position: absolute;
    transform: translateX(59vw) translateY(-7.5vw);
    color: white;
    font-size: 5.5vw;
    transition: all 0.5s ease;
}
#iconLemaCompromiso{
    transform: translateX(70vw) translateY(-7.5vw);;

}
.lema-titulo-mobile:active .iconLema{
    text-shadow: none;
}

.carousel-caption{
    background-color: #fffbfb6f;
    padding: 1vw 1vw !important;
    width: 70vw;
    bottom: -1vw !important;
    transform: translateX(-7vw);
    z-index: 99;
    border-radius: 20px;
    backdrop-filter: blur(2px); /
}

